{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,

	"overrides": [
		{
			"files": "*.scss",
			"options": {
				"singleQuote": false
			}
		},
		{
			"files": "*.css",
			"options": {
				"singleQuote": false
			}
		}
	]
}
